In [ ]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:
strv='Roopam'
print(type(strv))

<class 'str'>

In [5]:
l=[10,12,45,'Roopam',True]
print(type(l))

<class 'list'>

In [6]:
f=3.55
print(type(f))

<class 'float'>

In [7]:
t=(19,34,21)
print(type(t))

<class 'tuple'>

In [8]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘            ans:   String
# (ii) var2 = ‘[ DS , ML , Python]’  ans: String
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ans: list
# (iv) var4 = 1.  ans:float
# What will be the data type of the above given variable.

In [9]:
#proofs

In [11]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
l=[var1,var2,var3,var4]
for i in l :
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
# Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [1]:
# i) The "/" operator is the division operator in many programming languages, including Python. It performs division between two operands and returns the quotient as the result. Here's an example:

a=10
b=3
r=a/b
print(r)

3.3333333333333335

In [4]:
# (ii) The "%" operator is the modulus operator in Python. It calculates the remainder when one operand is divided by another. Here's an example:
x=10
y=3
r=x%y
print(r)

1

In [5]:
# The "//" operator is the floor division operator in Python. It divides one operand by another and rounds the result down to the nearest whole number (towards negative infinity). Here's an example:
a=10
y=3
r=a//y
print(r)

3

In [6]:
# (iv) The "**" operator is the exponentiation operator in Python. It raises the first operand to the power of the second operand. Here's an example:
r=3**3
print(r)

27

In [7]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [9]:
l=[10,5,7,8,'roop','aanm',45,6,True,False]
for i in l :
    print("element is",i," and it's type is",type(i))

element is 10  and it's type is <class 'int'>
element is 5  and it's type is <class 'int'>
element is 7  and it's type is <class 'int'>
element is 8  and it's type is <class 'int'>
element is roop  and it's type is <class 'str'>
element is aanm  and it's type is <class 'str'>
element is 45  and it's type is <class 'int'>
element is 6  and it's type is <class 'int'>
element is True  and it's type is <class 'bool'>
element is False  and it's type is <class 'bool'>

In [10]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [14]:
a=int(input("Enter A:"))
b=int(input("Enter B:"))
count=0
while a%b==0:
    a=a//b
    count+=1
    print(count)

1

In [1]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [2]:
l=[1,2,33,4,5,7,8,6,7,88,9,11,12,13,14,15,45,67,89,61,34,23,25,67,77]
for i in l :
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"i is not divisible by 3" )

1 i is not divisible by 3
2 i is not divisible by 3
33 is divisible by 3
4 i is not divisible by 3
5 i is not divisible by 3
7 i is not divisible by 3
8 i is not divisible by 3
6 is divisible by 3
7 i is not divisible by 3
88 i is not divisible by 3
9 is divisible by 3
11 i is not divisible by 3
12 is divisible by 3
13 i is not divisible by 3
14 i is not divisible by 3
15 is divisible by 3
45 is divisible by 3
67 i is not divisible by 3
89 i is not divisible by 3
61 i is not divisible by 3
34 i is not divisible by 3
23 i is not divisible by 3
25 i is not divisible by 3
67 i is not divisible by 3
77 i is not divisible by 3

In [ ]:
# What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
# Mutable and immutable are two fundamental concepts in programming related to data types. Mutable data types can be modified or changed after they are created, while immutable data types cannot be altered once they are created.

# Here are examples of both mutable and immutable data types:

# Mutable Data Types:

# List: Lists in Python are mutable. You can add, remove, or modify elements in a list after it is created. Here's an example:

# fruits = ["apple", "banana", "cherry"]
# fruits[1] = "orange"  # Modifying an element
# fruits.append("grape")  # Adding an element
# print(fruits)  # Output: ["apple", "orange", "cherry", "grape"]
# Dictionary: Dictionaries in Python are mutable. You can add, remove, or modify key-value pairs in a dictionary after it is created. Here's an example:


# person = {"name": "John", "age": 25}
# person["age"] = 26  # Modifying a value
# person["city"] = "New York"  # Adding a key-value pair
# print(person)  # Output: {"name": "John", "age": 26, "city": "New York"}
# Immutable Data Types:

# String: Strings in Python are immutable. Once a string is created, you cannot change its characters. Here's an example:


# name = "Alice"
# # name[0] = "B"  # This will raise an error, as strings are immutable
# print(name)  # Output: "Alice"
# Tuple: Tuples in Python are immutable. Once a tuple is created, you cannot modify its elements. Here's an example:

# numbers = (1, 2, 3)
# # numbers[1] = 4  # This will raise an error, as tuples are immutable
# print(numbers)  # Output: (1, 2, 3)
# In the examples above, the mutable data types (list, dictionary) allow modifications to their elements or values after creation. On the other hand, the immutable data types (string, tuple) do not allow such modifications and maintain their original values throughout their lifetimes